.card {
  max-width: 15em;
  border: 3px solid var(--color-accent);
  border-radius: 8px;

}

.card-special {
  background-color: var(--color-accent);
}

.card-titles {
  font-family: 'Lobster', cursive;
}

.card-titles-section {
  font-family: 'Lobster', cursive;
  color: #fff;
}

.card-section {
  max-width: 24em;
  border: 3px solid var(--color-primary);
  border-radius: 8px;
  background-color: var(--color-primary-light);
  color: #fff;
}
