.card {
  max-width: 24em;
  border: 3px solid var(--color-accent);
  border-radius: 8px;

}

.card-special {
  background-color: var(--color-accent)
}

.card-titles {
  font-family: 'Lobster', cursive;
}
