.banner-main {
  text-align: center;
  border-color: var(--color-accent);
  border-radius: 8px;
  
  background-color: var(--color-accent);
}

h1 {
  font-family: 'Lobster', cursive;
  color: #fff;
}
