.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-right: 300px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #f1f1f1;
    display: block;
}

.sidenav a:hover {
    color: var(--color-primary-light);
}

hr {
  opacity: 0.2;
  height: 2px;
  width: 240px;
  margin: 30px 30px;
  background: #FFF;
  border: none;
  display: block;
}

.sub-navigation {
 text-align: center;
}

.main {
    margin-left: 300px;
    padding: 0px 10px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media query {

}
